

    @import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Alice&family=Alkatra&family=Audiowide&family=Bruno+Ace&family=Carter+One&family=Caveat:wght@400;500&family=Comme&family=Concert+One&family=Cookie&family=Dancing+Script:wght@500&family=Darumadrop+One&family=DynaPuff&family=El+Messiri&family=Foldit&family=Gloria+Hallelujah&family=Great+Vibes&family=Gruppo&family=Handlee&family=Kalam:wght@300;400&family=Kosugi+Maru&family=Lemonada:wght@300;400&family=Lobster&family=Merienda:wght@300;400&family=Montserrat+Alternates&family=Neucha&family=Nova+Oval&family=Oleo+Script&family=Pacifico&family=Patrick+Hand&family=Poiret+One&family=Quicksand:wght@300;400&family=Raleway&family=Rock+Salt&family=Rubik+Dirt&family=Rubik+Distressed&family=Rubik+Marker+Hatch&family=Satisfy&family=Shadows+Into+Light&family=Shrikhand&family=Sigmar&family=Sofia+Sans+Condensed:wght@300;400&family=Yatra+One&family=Zeyada&display=swap');

body{
    overflow-x: hidden;
    margin:0;
    padding:0;
    overflow-y:hidden;
    display: flex;
    margin:auto;
    
}

/**@keyframes growAndChangeColor {
    from {
        transform: scale(1);
        background-color: rgb(211,124,179);
    }
    from {
        transform: scale(1.5);
        background-color: rgb(110,207,241);
    }
}**/
#background{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    bottom:0;
    z-index:-1;
    background-image:   radial-gradient(circle at 20% 15%, rgb(110,207,241), rgba(255, 255, 255, 0) 40%), 
                        radial-gradient(circle at 50% 75%, rgb(211,124,179),#ffffff00 40%),
                        radial-gradient(circle at 40% 30%, rgb(195, 124, 211),#ffffff00 65%),
                        radial-gradient(circle at 45% 80%, rgb(250,211,196),#ffffff00  55%),
                        radial-gradient(circle at 80% 50%, rgb(250,211,196),#ffffff00 50%),
                        radial-gradient(circle at 20% 10%, rgb(199,217,223),#ffffff00 40%),
                        radial-gradient(circle at 70% 30%, rgb(135, 242, 213),#ffffff00 40%),
                        radial-gradient(circle at 35% 80%, rgb(135, 242, 213),#ffffff00 60%),
                        radial-gradient(circle at 75% 80%, rgb(250,211,196),#ffffff00  55%),
                        radial-gradient(circle at 80% 30%, rgb(245, 196, 250),#ffffff00 60%)
    ;
    background-position: center;    
    background-blend-mode: lighten;
    background-blend-mode:color;
    align-items:flex-end;
}

#MainWAM{
    position:relative;
    z-index:1;
    width: 80%;
    height: 100%;
}


/** #bubble1 {
    width: 250px;
    height: 250px;
    opacity: 0.7;
    background-image: radial-gradient( rgba(255,0,0,0),rgba(255,0,0,0), rgba(189, 142, 232, 0.475) 100%);
    margin: 10px;
    border-radius:70% 85% 75%;
    position: relative;
    left:35%;
    top:90%;
    bottom:70%;
} **/

@keyframes up-and-down {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

svg::hover{
    animation: up-and-down 1s infinite;
}
#WAM{
    font-size: 90px;
    font-style: initial;
    font-weight: lighter;
    font-family: 'DynaPuff', cursive;
}
#NERDS{
    font-size: 35px;
    font-style: initial;
    font-weight: lighter;
    font-family: 'Patrick Hand', cursive;
    text-align: center;
    margin-top:-190px;
}
#Title{
    text-align: center;
    height: 200px;
    line-height: 200px;

}

#downarrow{
    position: center;
}

#WonAstMar{
    font-family: 'Handlee', cursive;
    font-size:xx-large;
}
/**
Options:
font-family: 'DynaPuff', cursive;
        font-family: 'Alice', serif;
        font-family: 'Caveat', cursive;
        font-family: 'Concert One', cursive;
        font-family: 'Dancing Script', cursive;
        font-family: 'Merienda', cursive;
        font-family: 'Montserrat Alternates', sans-serif;
        font-family: 'Patrick Hand', cursive;
        font-family: 'Quicksand', sans-serif;
        
**/

/** Simple:
    font-family: 'Aboreto', cursive;'
    font-family: 'Comme', sans-serif;
    font-family: 'Gruppo', cursive;
        font-family: 'Handlee', cursive;
        font-family: 'Patrick Hand', cursive;
        font-family: 'Quicksand', sans-serif;
     **/

/** Idk/maybe:
    font-family: 'Alkatra', cursive;
        font-family: 'Darumadrop One', cursive;
        font-family: 'Gloria Hallelujah', cursive;
        font-family: 'Kalam', cursive;
        font-family: 'Kosugi Maru', sans-serif;
        font-family: 'Lemonada', cursive;
        font-family: 'Lobster', cursive;
        font-family: 'Oleo Script', cursive;
        font-family: 'Rock Salt', cursive;
        font-family: 'Satisfy', cursive;
        font-family: 'Shadows Into Light', cursive;
        font-family: 'Shadows Into Light', cursive;
 **/

/** Sciencey Spacey vibe:
    font-family: 'Audiowide', cursive;
    font-family: 'Bruno Ace', cursive;
    font-family: 'El Messiri', sans-serif;
     **/